/*Company card===================================================*/


/*body { font-family: sans-serif; }*/

/*.carousel {*/
/*background: #EEE;*/
/*}*/

.carousel-cell {
    /*width: 28%;*/
    height: 260px;
    margin-right: 10px;
    background: #FBE9E7;
    /*border-radius: 5px;*/
    /*counter-increment: carousel-cell;*/
}

.carousel-cell.is-selected {
    background: #ED2;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.companyCard {
    width: 15em;
    margin-bottom: 2rem;
    margin: 1rem;

}
.flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
}
/*==============================================*/