<div class="container">
  <div class="spaceEp"></div>
  <div class="row">
    <h1 class="p-2"><b>ກ່ຽວກັບເວບໄຊ໌ </b></h1>
    <p class="p-2">&nbsp;ເປັນອົງກອນໜຶ່ງທີ່ໃຫ້ບໍລິການສັງຄົມ ດ້ານເທັກໂນໂລຢີ ແລະການສື່ສານ. ພວກເຮົາເລີ່ມຕົ້ນຈາກສູນ ເລີ່ມຈາກຄົນກຸ່ມໜຶ່ງທີ່ມີຄວາມຝັນຄ້າຍຄືກັນ ທີ່ຕ້ອງການ “ເຮັດໃນສິ່ງທີ່ຮັກ”. ຫຼັງຈາກລວມຕົວກັນໃນຕົ້ນປີ 2017 ຈຶ່ງໄດ້ເລີ່ມສັນສ້າງຜົນງານຕາມຄວາມຖະໜັດ ເຊັ່ນ: ສ້າງເວັບໄຊ້, ຂຽນແອັບພລິເຄຊັ່ນ ແລະໃຫ້ການບໍລິການດ້ານສື່ໂຄສະນາຕ່າງໆ. ທຸກຢ່າງທີ່ພວກເຮົາເຮັດຂຶ້ນມາ ແມ່ນເພື່ອເປັນການຕອບໂຈດບັນຫາສັງຄົມ ໃຫ້ສັງຄົມໄດ້ຮັບຄວາມສະດວກສະບາຍ ແລະແກ້ໄຂຊີວິດການເປັນຢູ່ໃຫ້ສອດຄ່ອງກັບຍຸກສະໄໝ.</p>
  </div>
</div>