
<div class="container contact">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h1><b>ຕິດຕໍ່ເຮົາ</b></h1>
      <p>ທີ່ຢູ່: <b>ບ້ານສສສສສສສສ ເມືອງນນນນນນນນນນນນ ແຂວງດດດດດດດດດດດດ</b></p>
      <p>ເບີໂທລະສັບ: <b>020 555 555 55, 030 55 555 55</b></p>
      <p>ອີເມວ: <b>laotourinfo@laotour.com</b></p>
      <div>
        <iframe
                width="100%"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYBMMN0dbUiPgZvbvevJg23HRvTjdjIB0
    &q=Space+Needle,Seattle+WA" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <form novalidate [formGroup]="contactForm" class="card pt-4 p-3">
        <div class="form-group">
          <label for="nameText" class="bmd-label-floating">ຊື່ ແລະ ນາມສະກຸນ</label>
          <input type="text" class="form-control" id="nameText">
        </div>
        <div class="form-group">
          <label for="emailText" class="bmd-label-floating">ອີເມວ</label>
          <input type="email" class="form-control" id="emailText">
        </div>
        <div class="form-group">
          <label for="titleText" class="bmd-label-floating">ຊື່ເລື່ອງ</label>
          <input type="text" class="form-control" id="titleText">
        </div>
        <div class="form-group">
          <label for="storyTextarea" class="bmd-label-floating">ເນື້ອໃນ</label>
          <textarea class="form-control" id="storyTextarea" rows="8"></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-default">ຍົກເລີກ</button>
          <button type="submit" class="btn btn-info btn-raised">ສົ່ງຂໍ້ມູນ</button>
        </div>
      </form>
    </div>
  </div>
</div>
