<div class="text-center p-4 mt-5">
  <h1><b>ສິ່ງທີ່ຄວນຮູ້</b></h1>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col-md-4">
      <div class="card mb-3">
        <img class="card-img-top" src="../assets/1280x720.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">ຂໍ້ມູນປະເທດລາວ</h5>
          <p class="card-text"></p>
          <button class="btn btn-primary btnIfo">ອ່ານເພີ້ມ</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <img class="card-img-top" src="../assets/1280x720.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">ແຜນທີ່ປະເທດລາວ</h5>
          <p class="card-text"></p>
          <button class="btn btn-primary btnIfo">ອ່ານເພີ້ມ</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <img class="card-img-top" src="../assets/1280x720.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">ຂໍ້ມູນປະເທດລາວ</h5>
          <p class="card-text"></p>
          <button class="btn btn-primary btnIfo">ອ່ານເພີ້ມ</button>
        </div>
      </div>
    </div>

  </div>
</div>
