<div class="text-center p-4 mt-5">
  <h1><b>ສະຖານທີ່ຄວນຮູ້ອື່ນໆ</b></h1>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col-md-4" *ngFor="let internet of anotherplaces['internets']">
      <div class="card mb-3">
        <img class="card-img-top" [src]="internet['images'][0]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{internet['name']}}</h5>
          <p class="card-text"></p>
          <button class="btn btn-primary btnIfo" >ລາຍລະອຽດ</button>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngFor="let another of anotherplaces['anothers']">
      <div class="card mb-3">
        <img class="card-img-top" [src]="another['images'][0]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{another['name']}}</h5>
          <p class="card-text"></p>
          <button class="btn btn-primary btnIfo">ລາຍລະອຽດ</button>
        </div>
      </div>
    </div>
  </div>
</div>
