<table class="table table-hover tableList">
  <thead>
  <th><button class="btn btn-info" data-toggle="collapse" title="ຈຸດທີ່ຢູ່ຂອງເຈົ້າ" data-target="#collapse-map"><i class="fa fa-map"></i></button></th>
  </thead>
  <tr class="collapse" id="collapse-map">
    <div class="map">
      <agm-map
              [latitude]="latitude"
              [longitude]="longitude"
              [zoom]="zoom"
              [disableDefaultUI]="false"
              [zoomControl]="true">

        <agm-marker *ngFor="let com of tour_companies
"
                    [latitude]="com['location']['lat']"
                    [longitude]="com['location']['long']">
          <agm-info-window>
            <a [routerLink]="['/shelter', 'detail', com['_id']]">{{com['name']}}</a>
          </agm-info-window>
        </agm-marker>


        <agm-circle
                [latitude]="latitude"
                [longitude]="longitude"
                [radius]="2000"
                [fillColor]="'green'"
                [circleDraggable]="true"
                [editable]="true">
        </agm-circle>
      </agm-map>
    </div>
  </tr>
  <tr class="card" *ngFor="let company of tour_companies">
    <td (click)="showCompadetail(company['_id'])">
      <img [src]="company['images'][0]" width="30%" class="rounded float-right" alt="">
      <h5 class="{{hD}}"><b>{{company['name']}}</b></h5>
      <p class="{{hideText}}">{{company['about']}}</p>
    </td>
  </tr>

</table>
