<ng-progress
        [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
        [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'"
        [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>
<!--Navbar-->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="btn-group">
      <button class="navbar-toggler" (click)="opencNav()" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand pl-2" href="#"><img src="../assets/LaosTour.png" height="35px" alt=""></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">ໜ້າຫຼັັກ</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
<!--          <a class="nav-link" [routerLink]="['/attractionmain']">ສະຖານທີ່ທ່ອງທ່ຽວ</a>-->
          <a class="nav-link dropdown-toggle" href="#" id="attrac_type" role="hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ສະຖານທີ່ທ່ອງທ່ຽວ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *ngFor="let type of types" [routerLink]="['/attraction','type',type['_id']]">{{type['name']}}</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/allinfo']">ຂໍ້ມູນທັງໝົດ</a>
        </li>
<!--        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/contact']">ຕິດຕໍ່</a>
        </li>-->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/about']">ກ່ຽວກັບ</a>
        </li>
      </ul>
    </div>
    <div class="bmd-form-group bmd-collapse-inline">
      <button class="btn bmd-btn-icon" for="search" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
        <i class="fa fa-search text-white"></i>
      </button>
      <span id="collapse-search" class="collapse">
        <form ngNativeValidate [formGroup]="searchForm" (ngSubmit)="doSearch()">
          <input class="form-control" type="search" formControlName="search_keyword" id="search" placeholder="ຄົ້ນຫາ">
        </form>
      </span>
    </div>

  </nav>
</header>
<div *ngIf="mySidenav" class="sidenav">
  <a class="closebtn" (click)="opencNav()">&times;</a>
  <a routerLink="['/home']" (click)="opencNav()">ໜ້າຫຼັັກ</a>
  <a data-toggle="collapse" data-target="#dropmenu" aria-expanded="false">ສະຖານທີ່ທ່ອງທ່ຽວ <i class="fa fa-sort-down"></i></a>
  <div class="collapse" id="dropmenu">
    <a *ngFor="let type of types" [routerLink]="['/attraction','type',type['_id']]" (click)="opencNav()">&nbsp;&nbsp;<small>{{type['name']}}</small></a>
  </div>
  <a [routerLink]="['/allinfo']" (click)="opencNav()">ຂໍ້ມູນທັງໝົດ</a>
<!--  <a [routerLink]="['/contact']" (click)="opencNav()">ຕິດຕໍ່</a>-->
  <a [routerLink]="['/about']" (click)="opencNav()">ກ່ຽວກັບ</a>
</div>


  <router-outlet></router-outlet>


  <!--Footer-->
  <footer class="page-footer pt-4 mt-4">
    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
      <div class="row">

        <!--First column-->
        <div class="col-md-6">
          <h3 class="text-uppercase ml-4"><b>Lao Tourism Infomation</b></h3>

        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-md-6">
          <h5 class="text-uppercase">Links</h5>
          <div class="list-group">
            <a [routerLink]="['home']" class="list-group-item">
              ໜັາຫຼັກ
            </a>
            <a [routerLink]="['allinfo']" class="list-group-item">ຂໍ້ມູນທັງໝົດ</a>
            <a [routerLink]="['about']" class="list-group-item">ກ່ຽວກັບ</a><!--
            <a [routerLink]="['contact']" class="list-group-item">ຕິດຕໍ່</a>-->
          </div>
        </div>
        <!--/.Second column-->
      </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="py-3 text-center">
      © 2018 Copyright:
      <a href="#"> LaoTourInfo </a>
    </div>
    <!--/.Copyright-->
  </footer>
