<div>
  <div class="text-center p-4 mt-5">
    <h1><b>ທີ່ພັກອາໄສແນະນຳ</b></h1>
  </div>
  <div class="container">
    <div class="row mb-5">

      <div class="col-lg-6" *ngIf="shelters[0]">
        <div class="card mb-3">
          <img class="card-img-top" [src]="shelters[0]['images'][0]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{shelters[0]['name']}}</h5>
            <p class="card-text">{{shelters[0]['detail']}}</p>
            <p class="card-text"><small class="text-muted">{{shelters[0]['shelter_type']['name']}}</small></p>
            <button class="btn btn-raised btn-primary float-right mb-5" [routerLink]="['/shelter','detail', shelters[0]['_id']]">ລາຍລະອຽດ</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6" *ngIf="shelters[1]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="shelters[1]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{shelters[1]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{shelters[1]['shelter_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-primary" [routerLink]="['/shelter','detail',shelters[1]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" *ngIf="shelters[2]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="shelters[2]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{shelters[2]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{shelters[2]['shelter_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-primary" [routerLink]="['/shelter','detail',shelters[2]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6" *ngIf="shelters[3]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="shelters[3]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{shelters[3]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{shelters[3]['shelter_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-primary" [routerLink]="['/shelter','detail',shelters[3]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" *ngIf="shelters[4]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="shelters[4]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{shelters[4]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{shelters[4]['shelter_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-primary" [routerLink]="['/shelter', 'detail',shelters[4]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <a [routerLink]="['/shelter']" class="btn btn-raised btn-primary bg-primary text-white"><i class="fa fa-caret-right"></i> ເພີ່ມເຕີມ</a>
    </div>
  </div>
</div>