<div class="spaceEm"></div>
<div id="myCarousel" class="carousel slide mt-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" [src]="attractionses[0]['images'][0]" width="100%" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{attractionses[0]['name']}}</h1>
          <p><a class="btn btn-lg btn-primary btn-raised" [routerLink]="['/attraction','detail',attractionses[0]['_id']]" role="button">ລາຍລະອຽດ</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item" *ngFor="let attractions of attractionses | slice:1; let i=index">
      <img class="second-slide" [src]="attractions['images'][0]" width="100%" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{attractions['name']}}</h1>
          <p><a class="btn btn-lg btn-primary btn-raised" [routerLink]="['/attraction','detail',attractions['_id']]" role="button">ລາຍລະອຽດ</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
