<table class="table table-hover tableList">
  <thead>
    <th><button class="btn btn-info" data-toggle="collapse" data-target="#collapse-map"><i class="fa fa-map"></i></button></th>
  </thead>
  <tr class="collapse" id="collapse-map">
    <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYBMMN0dbUiPgZvbvevJg23HRvTjdjIB0
    &q=Space+Needle,Seattle+WA" allowfullscreen>
    </iframe>
  </tr>
  <tr class="card" *ngFor="let internet of internets">
    <td (click)="showInternetDetail(internet['_id'])">
      <img [src]="internet['images'][0]" width="30%" class="rounded float-right" alt="">
      <h5 class="{{hD}}"><b>{{internet['name']}}</b></h5>
      <p class="{{hideText}}">{{internet['detail']}}</p>
    </td>
  </tr>
  <tr class="card" *ngFor="let another of anothers">
    <td (click)="showAnotherDetail(another['_id'])">
      <img [src]="another['images'][0]" width="30%" class="rounded float-right" alt="">
      <h5 class="{{hD}}"><b>{{another['name']}}</b></h5>
      <p class="{{hideText}}">{{another['detail']}}</p>
    </td>
  </tr>

</table>
