
  <div class="row nearbyMenu">
    <div class="dropdown">
      <button class="btn btn-raised btn-success dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ຄົ້ນຫາທັງໝົດ
      </button>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex1">
        <div class=" dropdown-item btn-group-toggle" data-toggle="buttons">
          <label class="btn">
            <input type="checkbox" checked autocomplete="off"> ຄົ້ນຫາແບບ Global
          </label>
        </div>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button">ສະຖານທີ່ທ່ອງທ່ຽວ</button>
        <button class="dropdown-item" type="button">ຮ້ານອາຫານ</button>
        <button class="dropdown-item" type="button">ທີ່ພັກແຮມ</button>
        <button class="dropdown-item" type="button">ສະຖານີຂົນສົ່ງໂດຍສານ</button>
      </div>
    </div>
  </div>
  <div class="nearbyTitle ml-2 alert alert-light" role="alert">
    <h5 class="mt-2">ຄົ້ນຫາ : <b>ທຳມະຊາດ</b></h5>
  </div>
  <span class="m-1"></span>

<!--List-->
  <div class="container mt-5 mb-5">
    <div class="row ml-1 d-block">
      <table class="table table-hover tableList">
        <thead>
        <th><button class="btn btn-info" data-toggle="collapse" data-target="#collapse-map"><i class="fa fa-map"></i></button></th>
        </thead>
        <tr class="collapse" id="collapse-map">
          <iframe
                  width="600"
                  height="450"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYBMMN0dbUiPgZvbvevJg23HRvTjdjIB0
    &q=Space+Needle,Seattle+WA" allowfullscreen>
          </iframe>
        </tr>
        <tr class="card">
          <td (click)="alertz()">
            <img src="assets/ສະຖານທີ່ທ່ອງທ່ຽວຕາດກວາງຊີ.jpg" width="30%" class="rounded float-right" alt="">
            <h5 class="{{hD}}"><b>ສະຖານທີ່ທ່ອງທ່ຽວຕາດກວາງຊີ</b></h5>
            <p class="card-subtitle">ປະເພດ: <b>ສະຖານທີ່ທ່ອງທ່ຽວທາງທຳມະຊາດ</b></p>
            <p class="{{hideText}}" data-toggle="collapse" aria-expanded="true">ນ້ຳຕົກຕາດກວາງຊີ ເປັນນ້ຳຕົກຫີນປູນຂະໜາດໃຫຍ່ສູງປະມານ 7 0 ແມັດ ມີສາຍນ້ຳໄຫລອາບມາຕາມໜ້າຜາຜ່ານໂຂດຫີນນ້ອຍໃຫຍ່</p>
          </td>
        </tr>
        <tr class="card">
          <td (click)="alertz()">
            <img src="assets/ສະຖານທີ່ທ່ອງທ່ຽວນ້ຳກັດຢໍລະປາ.jpg" width="30%" class="rounded float-right" alt="">
            <h5 class="{{hD}}"><b>ສະຖານທີ່ທ່ອງທ່ຽວນ້ຳກັດຢໍລະປາ</b></h5>
            <p class="card-subtitle">ປະເພດ: <b>ສະຖານທີ່ທ່ອງທ່ຽວທາງທຳມະຊາດ</b></p>
            <p class="{{hideText}}" data-toggle="collapse" aria-expanded="true">ສະຖານທີ່ທ່ອງທ່ຽວນ້ຳກັດຢໍລະປາເປັນນ້ຳຕົກມີສາຍນ້ຳໄຫລອາບມາຕາມໜ້າຜາຜ່ານໂຂດຫີນນ້ອຍໃຫຍ່</p>
          </td>
        </tr>
      </table>
    </div>
  </div>


