
  <div class="row nearbyMenu">
    <div class="dropdown">
      <button class="btn btn-raised btn-success dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ntype
      </button>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex1">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item disabled" type="button">Another action</button>
        <button class="dropdown-item" type="button">Another action</button>
      </div>
    </div>
  </div>
  <div class="nearbyTitle ml-2 alert alert-light" role="alert">
    <h5 class="mt-2">ຄົ້ນຫາ : <b>ສະຸຖານທາຫກ່ດາສ່ຫກາສດ່ຫກສາດ່ສຫາກ່ດສາຫກ່ດສຫກ່ດສາຫກ່ີ່ໃກ້ຄຽງ</b></h5>
  </div>
  <span class="m-1"></span>

<!--List-->
  <div class="container mt-5 mb-5">
    <div class="row ml-1 d-block">
      <table class="table table-hover tableList">
        <thead>
        <th><button class="btn btn-info" data-toggle="collapse" data-target="#collapse-map"><i class="fa fa-map"></i></button></th>
        </thead>
        <tr class="collapse" id="collapse-map">
          <iframe
                  width="600"
                  height="450"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYBMMN0dbUiPgZvbvevJg23HRvTjdjIB0
    &q=Space+Needle,Seattle+WA" allowfullscreen>
          </iframe>
        </tr>
        <tr class="card">
          <td (click)="alertz()">
            <img src="assets/1240x720.png" width="30%" class="rounded float-right" alt="">
            <h5 class="{{hD}}"><b>ຊື່ສະຖານທີ່ທ່ອງທ່ຽວ</b></h5>
            <p class="card-subtitle">ປະເພດ: <b>ສະຖານທີ່ທ່ອງທ່ຽວວັດທະນະທຳ</b></p>
          </td>
        </tr>
        <tr class="card">
          <td>
            <img src="assets/1240x720.png" width="30%" class="rounded float-right" alt="">
            <h5>Name</h5>
            <p>sdkfsdjfksjdflsjdflsldk</p>
            <p class="{{hideText}}" data-toggle="collapse" aria-expanded="true">sdfsdfsdfsdfsdfsdfsdfsdfsdfssdfsdfsdfsdfsdfsdfsdfsdfsdfsddf</p>
          </td>
        </tr>
      </table>
    </div>
  </div>


