<div>

  <div class="text-center p-3 mt-5">
    <h1><b>ສະຖານທີ່ທ່ອງທ່ຽວແນະນຳ</b></h1>
  </div>

  <div class="container">
    <div class="row mb-5">

      <div class="col-lg-6">
        <div class="card mb-3">
          <img class="card-img-top" src="../assets/1280x720.jpg"alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ຊື່ສະຖານທີ່</h5>
            <p class="card-text">ປະຫັວດຄວາມເປັນມາໂດຍຫຍໍ້ text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">ປະເພດ: ສະຖານທີ່ທ່ທ່ອງທ່ຽວ</small></p>
            <button [routerLink]="['/attraction/detail','id:???']" class="btn btn-raised btn-primary float-right bg-success text-white">ອ່ານເພີ່ມ</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="card mb-3">
              <img class="card-img-top" src="../assets/1280x720.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ຊື່ສະຖານທີ່</h5>
                <p class="card-text"><small class="text-muted">ປະເພດ: ສະຖານທີ່ທ່ທ່ອງທ່ຽວ</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-success" [routerLink]="['/attraction/detail','id:???']"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card mb-3">
              <img class="card-img-top" src="../assets/1280x720.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ຊື່ສະຖານທີ່</h5>
                <p class="card-text"><small class="text-muted">ປະເພດ: ສະຖານທີ່ທ່ທ່ອງທ່ຽວ</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-success"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="card mb-3">
              <img class="card-img-top" src="../assets/1280x720.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ຊື່ສະຖານທີ່</h5>
                <p class="card-text"><small class="text-muted">ປະເພດ: ສະຖານທີ່ທ່ທ່ອງທ່ຽວ</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-success"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card mb-3">
              <img class="card-img-top" src="../assets/1280x720.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ຊື່ສະຖານທີ່</h5>
                <p class="card-text"><small class="text-muted">ປະເພດ: ສະຖານທີ່ທ່ທ່ອງທ່ຽວ</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-success"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row d-flex justify-content-end">
      <a [routerLink]="['/attraction']" class="btn btn-info"><i class="fa fa-caret-right"></i> ເພີ່ມເຕີມ</a>
    </div>
  </div>
</div>


