<div>

  <div class="text-center p-3 mt-5">
    <h1><b>ສະຖານທີ່ທ່ອງທ່ຽວແນະນຳ</b></h1>
  </div>

  <div class="container">
    <div class="row mb-5" *ngIf="attractionses.length">

      <div class="col-lg-6" *ngIf="attractionses[0]">
        <div class="card mb-3">
          <img class="card-img-top" [src]="attractionses[0]['images'][0]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{attractionses[0]['name']}}</h5>
            <p class="card-text">{{attractionses[0]['details']| slice:0:220}}...</p>
            <p class="card-text"><small class="text-muted">{{attractionses[0]['attractions_type']['name']}}</small></p>
            <button [routerLink]="['/attraction','detail',attractionses[0]['_id']]" class="btn btn-raised btn-primary float-right bg-success text-white">ລາຍລະອຽດ</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6" *ngIf="attractionses[1]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="attractionses[1]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{attractionses[1]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{attractionses[1]['attractions_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-success" [routerLink]="['/attraction','detail',attractionses[1]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" *ngIf="attractionses[2]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="attractionses[2]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{attractionses[2]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{attractionses[2]['attractions_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-success" [routerLink]="['/attraction','detail',attractionses[2]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6" *ngIf="attractionses[3]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="attractionses[3]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{attractionses[3]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{attractionses[3]['attractions_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-success" [routerLink]="['/attraction','detail',attractionses[3]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" *ngIf="attractionses[4]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="attractionses[4]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{attractionses[4]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{attractionses[4]['attractions_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-success" [routerLink]="['/attraction','detail',attractionses[3]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row d-flex justify-content-end">
      <a [routerLink]="['/attraction']" class="btn btn-info"><i class="fa fa-caret-right"></i> ເພີ່ມເຕີມ</a>
    </div>
  </div>
</div>


