<div *ngIf="data['attractionses']">
  <app-home-event [attractionses]="data['attractionses']"></app-home-event>

  <div>
    <app-home-attractions [attractionses]="data['attractionses']"></app-home-attractions>
  </div>

  <div id="pic1">
    <app-home-restaurants [restaurants]="data['restaurants']"></app-home-restaurants>
  </div>

  <div>
    <app-home-shelters [shelters]="data['shelters']"></app-home-shelters>
  </div>

  <div id="pic3">
    <app-home-transportations [transportations]="data['transportations']"></app-home-transportations>
  </div>

  <div>
    <app-home-additional [anotherplaces]="data['another_places']"></app-home-additional>
  </div>

  <div id="pic4">
    <app-home-companies [companies]="data['tourcompanies']"></app-home-companies>
  </div>
</div>