
  <div class="text-center p-4 mt-5">
    <h1 class="mt-3"><b>ຮ້ານອາຫານແນະນຳ</b></h1>
  </div>

  <div class="container">
    <div class="row mb-5">

      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6" *ngIf="restaurants[4]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="restaurants[4]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{restaurants[4]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{restaurants[4]['restaurant_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-danger" [routerLink]="['/restaurant','detail',restaurants[4]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" *ngIf="restaurants[3]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="restaurants[3]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{restaurants[3]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{restaurants[3]['restaurant_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-danger" [routerLink]="['/restaurant','detail',restaurants[3]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6" *ngIf="restaurants[2]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="restaurants[2]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{restaurants[2]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{restaurants[2]['restaurant_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-danger" [routerLink]="['/restaurant','detail',restaurants[2]['_id']]"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" *ngIf="restaurants[1]">
            <div class="card mb-3">
              <img class="card-img-top" [src]="restaurants[1]['images'][0]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{restaurants[1]['name']}}</h5>
                <p class="card-text"><small class="text-muted">{{restaurants[1]['restaurant_type']['name']}}</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-danger" [routerLink]="['/restaurant','detail',restaurants[1]['_id']]"><i class="fa  fa-chevron-right"></i></button>

            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-6" *ngIf="restaurants[0]">
        <div class="card mb-3">
          <img class="card-img-top" [src]="restaurants[0]['images'][0]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{restaurants[0]['name']}}</h5>
            <p class="card-text">{{restaurants[0]['detail']}}</p>
            <p class="card-text"><small class="text-muted">{{restaurants[0]['restaurant_type']['name']}}</small></p>
            <button class="btn btn-raised bg-danger float-right text-white" [routerLink]="['/restaurant/detail',restaurants[0]['_id']]">ລາຍລະອຽດ</button>
          </div>
        </div>
      </div>

    </div>
    <div class="row d-flex justify-content-end">
      <a [routerLink]="['/restaurant']"class="btn btn-raised btn-danger"><i class="fa fa-caret-right"></i> ເພີ່ມເຕີມ</a>
    </div>
  </div>
