
  <div class="text-center p-4 mt-5">
    <h1 class="mt-3"><b>ຮ້ານອາຫານແນະນຳ</b></h1>
  </div>

  <div class="container">
    <div class="row mb-5">

      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="card mb-3">
              <img class="card-img-top" src="../assets/ຮ້ານອາຫານຂອບໃຈເດີ.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ຮ້ານອາຫານຂອບໃຈເດີ</h5>
                <p class="card-text"><small class="text-muted">ປະເພດ: ຮ້ານອາຫານຕາມສັ່ງ</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-danger" [routerLink]="['/restaurant/detail','id:???']"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card mb-3">
              <img class="card-img-top" src="../assets/ຮ້ານອາຫານຄົວລາວ.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ຮ້ານອາຫານຄົວລາວ</h5>
                <p class="card-text"><small class="text-muted">ປະເພດ: ຮ້ານອາຫານລາວ</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-danger" [routerLink]="['/restaurant/detail','id:???']"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="card mb-3">
              <img class="card-img-top" src="../assets/ຮ້ານອາຫານຊ້າງຄູ່.JPG" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ຮ້ານອາຫານຊ້າງຄູ່</h5>
                <p class="card-text"><small class="text-muted">ປະເພດ: ຮ້ານອາຫານຕ່າງປະເທດ</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-danger" [routerLink]="['/restaurant/detail','id:???']"><i class="fa  fa-chevron-right"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card mb-3">
              <img class="card-img-top" src="../assets/ຮ້ານອາຫານອຳພອນ.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ຮ້ານອາຫານອຳພອນ</h5>
                <p class="card-text"><small class="text-muted">ປະເພດ: ຮ້ານອາຫານຄອບຄົວ</small></p>
              </div>
              <button class="btn bmd-btn-fab btncard bg-danger" [routerLink]="['/restaurant/detail','id:???']"><i class="fa  fa-chevron-right"></i></button>

            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-6">
        <div class="card mb-3">
          <img class="card-img-top" src="../assets/ຮ້ານອາຫານລາວເດີມ.jpg"alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ຮ້ານອາຫານລາວເດີມ</h5>
            <p class="card-text">ຮ້ານອາຫານອີກແຫ່ງໜຶ່ງ ທີ່ຢູ່ໃຈກາງເມືອງ ເຖິງບໍ່ແມ່ນຮ້ານອາຫານເປີດໃໝ່ ແຕ່ກໍຢາກໃຫ້ຊອກຫາໂອກາດໄປລອງຊີມ. ເພາະມີອາຫານລາວໄວ້ຄອຍເອົາໃຈທຸກທ່ານ ຮ້ານນີ້ມີຊື່ວ່າ: “ຮ້ານອາຫານລາວເດີມ”</p>
            <p class="card-text"><small class="text-muted">ປະເພດ: ຮ້ານອາຫານປະຈຳຊາດ</small></p>
            <button class="btn btn-raised bg-danger float-right text-white" [routerLink]="['/restaurant/detail','id:???']">ອ່ານເພີ່ມ</button>
          </div>
        </div>
      </div>

    </div>
    <div class="row d-flex justify-content-end">
      <a [routerLink]="['/restaurant']"class="btn btn-raised btn-danger"><i class="fa fa-caret-right"></i> ເພີ່ມເຕີມ</a>
    </div>
  </div>
